<button routerLink="/comp1" [queryParams]="{ name: 'Filipe', age: '20' }">Redirecionar Filipe</button>

<button routerLink="/comp1" [queryParams]="{ name: 'Laura', age: '23', country: 'Brasil' }">Redirecionar Laura</button>

<button routerLink="/comp1" [queryParams]="{ status: 'ativo' }">Redirecionar Sem Preservar</button>

<button routerLink="/comp2" queryParamsHandling="preserve">Redirecionar Preservando</button>
<button routerLink="/comp2" queryParamsHandling="merge"  [queryParams]="{ status: 'ativo' }">Redirecionar Mergeando</button>

<button routerLink="/generic-user">Generic User</button>
<button routerLink="/generic-admin">Generic Admin</button>


<router-outlet></router-outlet>