/* You can add global styles to this file, and also import other style files */
body {
    background-color: gray;
}

.list {
    padding: 12px;
    display: flex;
    flex-direction: column;

    &__item {
        padding: 4px;
        cursor: pointer;
        display: inline-block;
    }
}